@use "../../styles/mixins" as *;

.inner {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);

  @include down($bp-sm) {
    gap: var(--space-6);
  }
}

.title {
  font-family: var(--font-serif);
  font-size: var(--text-3xl);
  font-weight: var(--weight-bold);
  line-height: var(--leading-none);
  text-align: center;
  color: var(--color-txt-1);

  @include down($bp-sm) {
    font-size: var(--text-2xl);
  }
}
